# Análise dos resultados da avaliação de descrições de alinhamentos
---
São Carlos, 01/12/2019

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from app.eval_module.desc_models import DescEval

## 1. Análise geral

In [2]:
possible_approval = [2, 1, 0, -1]
possible_comparing = [2, 1, 0]

df = pd.DataFrame([
    [
        len([de for de in DescEval.query.filter_by(approval=pa, compare_baseline=pc)]) for pa in possible_approval
    ] for pc in possible_comparing
], columns=[DescEval.APPROVAL_TABLE[pa] for pa in possible_approval],
index=[DescEval.COMPARE_BASELINE_TABLE[pc] for pc in possible_comparing])

df

        Correct  Partially correct  Incorrect  Invalid
Better       29                 62          0       99
Equal        49                  3          0       54
Worse         0                  0        175      125

## 2. Análise por modelo

In [3]:
from app.desc_module.models import Description
df_modelos = {}

for key, value in Description.METHOD_TABLE.items():
    df_modelos[value] = pd.DataFrame([
        [
            len([de for de in DescEval.query.filter_by(approval=pa, compare_baseline=pc) if de.get_method() == value]) for pa in possible_approval
        ] for pc in possible_comparing
    ], columns=[DescEval.APPROVAL_TABLE[pa] for pa in possible_approval],
    index=[DescEval.COMPARE_BASELINE_TABLE[pc] for pc in possible_comparing])

### 2.1. Model1

In [4]:
df_modelos['Model1']

        Correct  Partially correct  Incorrect  Invalid
Better        7                 12          0       14
Equal         0                  1          0        3
Worse         0                  0         34       27

### 2.2. Model2

In [5]:
df_modelos['Model2']

        Correct  Partially correct  Incorrect  Invalid
Better        6                  8          0       20
Equal        17                  0          0       15
Worse         0                  0         21       11

### 2.3. Model3

In [6]:
df_modelos['Model3']

        Correct  Partially correct  Incorrect  Invalid
Better        4                 11          0       15
Equal         0                  1          0        3
Worse         0                  0         37       29

### 2.4. Model4

In [7]:
df_modelos['Model4']

        Correct  Partially correct  Incorrect  Invalid
Better        4                 10          0       18
Equal        16                  0          0       15
Worse         0                  0         23       14

### 2.5. Model5

In [8]:
df_modelos['Model5']

        Correct  Partially correct  Incorrect  Invalid
Better        4                 11          0       15
Equal         0                  1          0        3
Worse         0                  0         37       29

### 2.6. Model6

In [9]:
df_modelos['Model6']

        Correct  Partially correct  Incorrect  Invalid
Better        4                 10          0       17
Equal        16                  0          0       15
Worse         0                  0         23       15